In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
from collections import Counter
ps=PorterStemmer()
from nltk.stem import WordNetLemmatizer
wordnet=WordNetLemmatizer()
import string
import re
import seaborn as sns
from collections import Counter
from sklearn.preprocessing import OneHotEncoder

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASHUTOSH\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [1]:
data_da=pd.read_csv("C:\Users\ASHUTOSH\Desktop\latest ml data\dataanalystskillrefined1 (1).csv")
data_ds=pd.read_csv("C:\Users\ASHUTOSH\Desktop\latest ml data\datascientistSkill1.csv")
data_de=pd.read_csv("C:\Users\ASHUTOSH\Desktop\latest ml data\data engineer.csv")
data_ml=pd.read_csv("C:\Users\ASHUTOSH\Desktop\latest ml data\machinelearnskillrefined1 (1).csv")

data_frontend=pd.read_csv("C:\Users\ASHUTOSH\Desktop\latest ml data\frontendengineerskillrefined.csv")
data_devops=pd.read_csv("C:\Users\ASHUTOSH\Desktop\latest ml data\devopsengineerskillrefined (1).csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1646595085.py, line 1)

In [5]:
data_de

,Unnamed: 0,transformed_data,designation
0,0,"['r', 'sql', 'python', 'panda', 'numpy', 'mysq...",dataengineer
1,1,"['etl', 'aws', 'spark', 'redshift', 'nosql', '...",dataengineer
2,2,"['sql', 'python', 'etl', 'spark', 'aws', 'azur...",dataengineer
3,3,"['sql', 'python', 'etl', 'spark', 'aws', 'azur...",dataengineer
4,4,"['sql', 'python', 'etl', 'spark', 'aws', 'azur...",dataengineer
...,...,...,...
502,527,"['snowflake', 'sql', 'python', 'etl', 'spark',...",dataengineer
503,528,"['sql', 'nosql', 'server', 'mysql', 'oracle', ...",dataengineer
504,529,"['spark', 'etl', 'pyspark', 'scala', 'stack', ...",dataengineer
505,530,"['azure', 'sql', 'etl', 'excel', 'spark', 'sca...",dataengineer
506,531,"['azure', 'etl', 'python', 'sql', 'flow', 'git...",dataengineer

In [6]:
frames = [data_da, data_ds,data_de,data_ml,data_frontend,data_devops]
data = pd.concat(frames)
data.isnull().sum()

Unnamed: 0             0
transformed_data       0
designation            0
Unnamed: 0.1        2279
dtype: int64

In [7]:

data['transformed_data'] = data['transformed_data'].apply(lambda x:''.join(x))

# Remove leading and trailing spaces and brackets
data['transformed_data'] = data['transformed_data'].str.strip('[]')

# Remove extra commas and spaces
data['transformed_data'] = data['transformed_data'].str.replace(r'\s*,\s*', ',')

# Remove double quotes
data['transformed_data'] = data['transformed_data'].str.replace("'", "")

# Check the data type of the column after conversion
print(data['transformed_data'].dtype)

# Display the DataFrame
print(data)

object
     Unnamed: 0                                   transformed_data  \
0             0       sql, python, excel, tableau, etl, powerbi, r
1             1       sql, python, excel, tableau, etl, powerbi, r
2             2       sql, python, excel, tableau, etl, powerbi, r
3             3       sql, tableau, etl, python, excel, powerbi, r
4             4       python, sql, excel, tableau, etl, powerbi, r
..          ...                                                ...
441         441  aws, kubernetes, python, azure, jenkins, ansib...
442         442  server, python, ansible, azure, kubernetes, no...
443         443  azure, git, python, github, ansible, kubernete...
444         444  stack, java, gcp, sql, splunk, kubernetes, aws...
445         445  azure, kubernetes, bash, aws, python, jenkins,...

        designation  Unnamed: 0.1
0       dataanalyst           NaN
1       dataanalyst           NaN
2       dataanalyst           NaN
3       dataanalyst           NaN
4       dataanalyst           NaN
..              ...           ...
441  devopsengineer           NaN
442  devopsengineer           NaN
443  devopsengineer           NaN
444  devopsengineer           NaN
445  devopsengineer           NaN

[2861 rows x 4 columns]

In [8]:
data=data.drop(['Unnamed: 0'],axis=1)

In [9]:
data=data.drop(['Unnamed: 0.1'],axis=1)

In [10]:
data

                                      transformed_data     designation
0         sql, python, excel, tableau, etl, powerbi, r     dataanalyst
1         sql, python, excel, tableau, etl, powerbi, r     dataanalyst
2         sql, python, excel, tableau, etl, powerbi, r     dataanalyst
3         sql, tableau, etl, python, excel, powerbi, r     dataanalyst
4         python, sql, excel, tableau, etl, powerbi, r     dataanalyst
..                                                 ...             ...
441  aws, kubernetes, python, azure, jenkins, ansib...  devopsengineer
442  server, python, ansible, azure, kubernetes, no...  devopsengineer
443  azure, git, python, github, ansible, kubernete...  devopsengineer
444  stack, java, gcp, sql, splunk, kubernetes, aws...  devopsengineer
445  azure, kubernetes, bash, aws, python, jenkins,...  devopsengineer

[2861 rows x 2 columns]

In [11]:
shuffled_data = data.sample(frac=1).reset_index(drop=True)

In [12]:

shuffled_data = data.sample(frac=1).reset_index(drop=True)

# Concatenate the shuffled DataFrame with itself (for demonstration purposes)
concatenated_data = pd.concat([shuffled_data, shuffled_data], ignore_index=True)

# Print the concatenated DataFrame
print(concatenated_data)

                                       transformed_data  \
0     linux, window, server, python, perl, java, aws...
1     java, python, sql, nosql, etl, spark, aws, azu...
2     sql, python, tableau, excel, azure, r, machine...
3     server, azure, aws, gcp, kubernetes, python, j...
4     python, javascript, mysql, linux, server, exce...
...                                                 ...
5717  snowflake, sql, python, tableau, excel, etl, p...
5718  python, machinelearning, sql, tensorflow, pyto...
5719  etl, snowflake, sql, jira, aws, python, spark,...
5720  azure, databricks, stack, pyspark, hadoop, pyt...
5721  aws, kubernetes, jenkins, ansible, python, azu...

                  designation
0              devopsengineer
1                dataengineer
2                 dataanalyst
3              devopsengineer
4                dataengineer
...                       ...
5717              dataanalyst
5718  machinelearningengineer
5719             dataengineer
5720             dataengineer
5721           devopsengineer

[5722 rows x 2 columns]

In [13]:
# Replace empty strings with NaN
concatenated_data['transformed_data'].replace('', np.nan, inplace=True)

# Drop rows where the 'column_name' column is empty
concatenated_data.dropna(subset=['transformed_data'], inplace=True)

In [14]:
concatenated_data['designation'] = concatenated_data['designation'].str.lower()

In [15]:
concatenated_data['transformed_data']

0       linux, window, server, python, perl, java, aws...
1       java, python, sql, nosql, etl, spark, aws, azu...
2       sql, python, tableau, excel, azure, r, machine...
3       server, azure, aws, gcp, kubernetes, python, j...
4       python, javascript, mysql, linux, server, exce...
                              ...
5717    snowflake, sql, python, tableau, excel, etl, p...
5718    python, machinelearning, sql, tensorflow, pyto...
5719    etl, snowflake, sql, jira, aws, python, spark,...
5720    azure, databricks, stack, pyspark, hadoop, pyt...
5721    aws, kubernetes, jenkins, ansible, python, azu...
Name: transformed_data, Length: 5722, dtype: object

In [16]:
concatenated_data.to_csv('mldatanew.csv', index=True)

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=130)
vector = cv.fit_transform(concatenated_data['transformed_data']).toarray()

In [18]:
len(cv.get_feature_names_out())

69

In [19]:
# Create a list of all the skills
all_skills = []
for skills in concatenated_data['transformed_data']:
    all_skills.extend(skills.split(','))
all_skills

['linux',
 ' window',
 ' server',
 ' python',
 ' perl',
 ' java',
 ' aws',
 ' mysql',
 ' git',
 ' ansible',
 ' kubernetes',
 ' azure',
 ' jenkins',
 'java',
 ' python',
 ' sql',
 ' nosql',
 ' etl',
 ' spark',
 ' aws',
 ' azure',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'sql',
 ' python',
 ' tableau',
 ' excel',
 ' azure',
 ' r',
 ' machinelearning',
 ' etl',
 ' powerbi',
 'server',
 ' azure',
 ' aws',
 ' gcp',
 ' kubernetes',
 ' python',
 ' jenkins',
 ' ansible',
 ' linux',
 'python',
 ' javascript',
 ' mysql',
 ' linux',
 ' server',
 ' excel',
 ' sql',
 ' etl',
 ' spark',
 ' aws',
 ' azure',
 ' java',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' stack',
 ' tableau',
 ' c',
 ' oracle',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'etl',
 ' sql',
 ' python',
 ' java',
 ' scala',
 ' azure',
 ' spark',
 ' aws',
 ' hadoop',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'sql',
 ' python',
 ' tableau',
 ' aws',
 ' etl',
 ' excel',
 ' powerbi',
 ' r',
 'sql',
 ' python',
 ' excel',
 ' tableau',
 ' etl',
 ' powerbi',
 ' r',
 'javascript',
 ' window',
 ' cs',
 ' html',
 ' reactjs',
 ' git',
 ' angular',
 ' nodejs',
 'flask',
 ' panda',
 ' tensorflow',
 ' kera',
 ' git',
 ' machinelearning',
 ' python',
 ' sql',
 ' aws',
 ' r',
 'python',
 ' machinelearning',
 ' sql',
 ' tensorflow',
 ' pytorch',
 ' aws',
 ' azure',
 'sql',
 ' python',
 ' powerbi',
 ' excel',
 ' tableau',
 ' etl',
 ' r',
 'jenkins',
 ' python',
 ' git',
 ' aws',
 ' kubernetes',
 ' shellscripting',
 ' azure',
 ' ansible',
 ' linux',
 'stack',
 ' aws',
 ' bash',
 ' javascript',
 ' python',
 ' kubernetes',
 ' azure',
 ' jenkins',
 ' ansible',
 ' linux',
 'gcp',
 ' python',
 ' sql',
 ' aws',
 ' kubernetes',
 ' azure',
 ' jenkins',
 ' ansible',
 ' linux',
 'html',
 ' cs',
 ' javascript',
 ' reactjs',
 ' git',
 ' angular',
 ' nodejs',
 'python',
 ' sql',
 ' machinelearning',
 ' aws',
 ' r',
 'excel',
 ' sql',
 ' powerbi',
 ' python',
 ' tableau',
 ' etl',
 ' r',
 'angular',
 ' javascript',
 ' reactjs',
 ' git',
 ' cs',
 ' html',
 ' nodejs',
 'pytorch',
 ' python',
 ' machinelearning',
 ' sql',
 ' aws',
 ' r',
 'azure',
 ' aws',
 ' r',
 ' python',
 ' databricks',
 ' flow',
 ' pytorch',
 ' numpy',
 ' kubernetes',
 ' sql',
 ' machinelearning',
 'spark',
 ' aws',
 ' nosql',
 ' hadoop',
 ' sql',
 ' python',
 ' etl',
 ' azure',
 ' java',
 ' scala',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'python',
 ' java',
 ' r',
 ' sql',
 ' machinelearning',
 ' aws',
 'python',
 ' sql',
 ' etl',
 ' spark',
 ' aws',
 ' azure',
 ' java',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'word',
 ' sql',
 ' python',
 ' excel',
 ' tableau',
 ' etl',
 ' powerbi',
 ' r',
 'python',
 ' sql',
 ' machinelearning',
 ' aws',
 ' r',
 'etl',
 ' sql',
 ' python',
 ' excel',
 ' tableau',
 ' powerbi',
 ' r',
 'aws',
 ' gcp',
 ' r',
 ' server',
 ' linux',
 ' kubernetes',
 ' python',
 ' azure',
 ' jenkins',
 ' ansible',
 'r',
 ' sql',
 ' python',
 ' excel',
 ' tableau',
 ' etl',
 ' powerbi',
 'snowflake',
 ' azure',
 ' etl',
 ' sql',
 ' python',
 ' aws',
 ' tableau',
 ' scala',
 ' java',
 ' spark',
 ' hadoop',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'python',
 ' go',
 ' machinelearning',
 ' sql',
 ' tensorflow',
 ' pytorch',
 ' aws',
 ' azure',
 'kubernetes',
 ' aws',
 ' azure',
 ' stack',
 ' python',
 ' jenkins',
 ' ansible',
 ' linux',
 'python',
 ' etl',
 ' java',
 ' sql',
 ' machinelearning',
 ' aws',
 ' r',
 'javascript',
 ' git',
 ' python',
 ' sql',
 ' machinelearning',
 ' aws',
 ' r',
 'spark',
 ' python',
 ' java',
 ' scala',
 ' tensorflow',
 ' pytorch',
 ' machinelearning',
 ' sql',
 ' aws',
 ' azure',
 'python',
 ' sql',
 ' machinelearning',
 ' aws',
 ' r',
 'python',
 ' machinelearning',
 ' sql',
 ' tensorflow',
 ' pytorch',
 ' aws',
 ' azure',
 'python',
 ' sql',
 ' panda',
 ' numpy',
 ' git',
 ' machinelearning',
 ' aws',
 ' r',
 'python',
 ' tensorflow',
 ' pytorch',
 ' aws',
 ' azure',
 ' gcp',
 ' machinelearning',
 ' sql',
 ' r',
 'python',
 ' flow',
 ' panda',
 ' sql',
 ' etl',
 ' spark',
 ' aws',
 ' azure',
 ' java',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'python',
 ' machinelearning',
 ' sql',
 ' tensorflow',
 ' pytorch',
 ' aws',
 ' azure',
 'sql',
 ' excel',
 ' javascript',
 ' python',
 ' tableau',
 ' etl',
 ' powerbi',
 ' r',
 'python',
 ' sql',
 ' hadoop',
 ' spark',
 ' machinelearning',
 ' aws',
 ' r',
 'tensorflow',
 ' sql',
 ' python',
 ' machinelearning',
 ' aws',
 ' r',
 'python',
 ' linux',
 ' r',
 ' machinelearning',
 ' sql',
 ' aws',
 'python',
 ' numpy',
 ' panda',
 ' tensorflow',
 ' sql',
 ' spark',
 ' azure',
 ' aws',
 ' machinelearning',
 ' r',
 'kera',
 ' pytorch',
 ' python',
 ' stack',
 ' numpy',
 ' panda',
 ' sql',
 ' hadoop',
 ' spark',
 ' aws',
 ' gcp',
 ' azure',
 ' git',
 ' machinelearning',
 ' r',
 'python',
 ' pyspark',
 ' spark',
 ' sql',
 ' etl',
 ' ssis',
 ' databricks',
 ' azure',
 ' aws',
 ' java',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' airflow',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'sql',
 ' server',
 ' aws',
 ' python',
 ' etl',
 ' spark',
 ' azure',
 ' java',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'python',
 ' aws',
 ' java',
 ' jenkins',
 ' prometheus',
 ' kubernetes',
 ' azure',
 ' ansible',
 ' linux',
 'excel',
 ' tableau',
 ' sql',
 ' python',
 ' etl',
 ' powerbi',
 ' r',
 'sql',
 ' azure',
 ' aws',
 ' flow',
 ' python',
 ' excel',
 ' tableau',
 ' etl',
 ' powerbi',
 ' r',
 'machinelearning',
 ' python',
 ' sql',
 ' tensorflow',
 ' pytorch',
 ' aws',
 ' azure',
 'sql',
 ' python',
 ' excel',
 ' tableau',
 ' etl',
 ' powerbi',
 ' r',
 'html',
 ' cs',
 ' javascript',
 ' reactjs',
 ' git',
 ' angular',
 ' nodejs',
 'python',
 ' java',
 ' scala',
 ' r',
 ' sql',
 ' azure',
 ' spark',
 ' panda',
 ' numpy',
 ' aws',
 ' gcp',
 ' javascript',
 ' tableau',
 ' powerbi',
 ' stack',
 ' machinelearning',
 'azure',
 ' sql',
 ' excel',
 ' nosql',
 ' machinelearning',
 ' python',
 ' etl',
 ' spark',
 ' aws',
 ' java',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' go',
 ' bigquery',
 ' powerbi',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'python',
 ' snowflake',
 ' aws',
 ' etl',
 ' sql',
 ' server',
 ' mysql',
 ' nosql',
 ' kafka',
 ' spark',
 ' azure',
 ' java',
 ' hadoop',
 ' scala',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'sql',
 ' python',
 ' etl',
 ' spark',
 ' aws',
 ' azure',
 ' java',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'pyspark',
 ' spark',
 ' sql',
 ' azure',
 ' databricks',
 ' stack',
 ' python',
 ' etl',
 ' aws',
 ' java',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' airflow',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' machinelearning',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'etl',
 ' azure',
 ' airflow',
 ' spark',
 ' sql',
 ' python',
 ' pyspark',
 ' databricks',
 ' hadoop',
 ' machinelearning',
 ' aws',
 ' java',
 ' scala',
 ' snowflake',
 ' kafka',
 ' nosql',
 ' gcp',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ' javascript',
 ' oracle',
 ' mysql',
 ' linux',
 ' r',
 ' panda',
 ' go',
 ' bigquery',
 ' powerbi',
 ' excel',
 ' jira',
 ' mongodb',
 ' ssis',
 ' github',
 ' kubernetes',
 ' jenkins',
 ' numpy',
 'python',
 ' sql',
 ' machinelearning',
 ' aws',
 ' r',
 'reactjs',
 ' javascript',
 ' cs',
 ' html',
 ' git',
 ' angular',
 ' nodejs',
 'tableau',
 ' sql',
 ' python',
 ' excel',
 ' etl',
 ' powerbi',
 ' r',
 'etl',
 ' python',
 ' sql',
 ' gcp',
 ' bigquery',
 ' spark',
 ' aws',
 ' azure',
 ' java',
 ' hadoop',
 ' scala',
 ' snowflake',
 ' pyspark',
 ' airflow',
 ' databricks',
 ' kafka',
 ' nosql',
 ' redshift',
 ' git',
 ' flow',
 ' server',
 ' stack',
 ' tableau',
 ' c',
 ...]

In [35]:
cloned_df = concatenated_data[['transformed_data']].copy()

    # User input
user_input = "python,machinelearning"

    # Add user input to the last row of transformed_data column
cloned_df.loc[len(cloned_df)] = [user_input]

    # Convert the transformed_data column to list of lists
sentences = [row.split(",") for row in cloned_df['transformed_data']]

    # Train Word2Vec model
model = Word2Vec(sentences, vector_size=100, window=5, min_count=1, workers=4)

    # Get Word2Vec embeddings for user input
user_input_vector = [model.wv[word] for word in user_input.split(",") if word in model.wv]
user_input_vector = sum(user_input_vector) / len(user_input_vector)

    # Calculate cosine similarity of the user input vector with all other vectors
cosine_similarities = []
for vector in sentences[:-1]:
        cosine_similarities.append(cosine_similarity([user_input_vector], [model.wv[word] for word in vector if word in model.wv])[0][0])

    # Get indices of the top matches
top_matches_indices = sorted(range(len(cosine_similarities)), key=lambda i: cosine_similarities[i], reverse=True)[:20]

    # Get designations of the top matches
top_matches = concatenated_data.iloc[top_matches_indices][['designation']].reset_index(drop=False)

    # Print the top matches
print(top_matches)

    # Count the unique designations
unique_designations = top_matches['designation'].value_counts()

    # Print the result
print(unique_designations)

    index              designation
0      43            datascientist
1     103  machinelearningengineer
2     222            datascientist
3     314            datascientist
4     558  machinelearningengineer
5     578  machinelearningengineer
6     918  machinelearningengineer
7     928  machinelearningengineer
8     986  machinelearningengineer
9    1042  machinelearningengineer
10   1222  machinelearningengineer
11   1234  machinelearningengineer
12   1278  machinelearningengineer
13   1350  machinelearningengineer
14   1419            datascientist
15   1461            datascientist
16   1492  machinelearningengineer
17   1980  machinelearningengineer
18   2162  machinelearningengineer
19   2262            datascientist
designation
machinelearningengineer    14
datascientist               6
Name: count, dtype: int64

In [33]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from gensim.models import Word2Vec
def skillpredict(user_input):
    # Clone only the transformed_data column
    cloned_df = concatenated_data[['transformed_data']].copy()

    # User input
    # user_input = "docker,heroku"

    # Add user input to the last row of transformed_data column
    cloned_df.loc[len(cloned_df)] = [user_input]

    # Convert the transformed_data column to list of lists
    sentences = [row.split(",") for row in cloned_df['transformed_data']]

    # Train Word2Vec model
    model = Word2Vec(sentences, vector_size=100, window=5, min_count=1, workers=4)

    # Get Word2Vec embeddings for user input
    user_input_vector = [model.wv[word] for word in user_input.split(",") if word in model.wv]
    user_input_vector = sum(user_input_vector) / len(user_input_vector)

    # Calculate cosine similarity of the user input vector with all other vectors
    cosine_similarities = []
    for vector in sentences[:-1]:
        cosine_similarities.append(cosine_similarity([user_input_vector], [model.wv[word] for word in vector if word in model.wv])[0][0])

    # Get indices of the top matches
    top_matches_indices = sorted(range(len(cosine_similarities)), key=lambda i: cosine_similarities[i], reverse=True)[:20]

    # Get designations of the top matches
    top_matches = concatenated_data.iloc[top_matches_indices][['designation']].reset_index(drop=False)

    # Print the top matches
    print(top_matches)

    # Count the unique designations
    unique_designations = top_matches['designation'].value_counts()

    # Print the result
    print(unique_designations)

In [34]:

skillpredict("python,machinelearning")

    index              designation
0       4             dataengineer
1      10  machinelearningengineer
2      16            datascientist
3      22            datascientist
4      23             dataengineer
5      25            datascientist
6      30  machinelearningengineer
7      32            datascientist
8      35            datascientist
9      36  machinelearningengineer
10     37            datascientist
11     38            datascientist
12     39             dataengineer
13     40  machinelearningengineer
14     42            datascientist
15     44            datascientist
16     45            datascientist
17     47             dataengineer
18     49           devopsengineer
19     55            datascientist
designation
datascientist              11
dataengineer                4
machinelearningengineer     4
devopsengineer              1
Name: count, dtype: int64

In [22]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from gensim.models import Word2Vec

def find_top_matches(concatenated_data, user_input):
    """
    Find the top matches for user input skills in the concatenated_data DataFrame and print the results.

    Parameters:
    concatenated_data (pd.DataFrame): DataFrame containing 'transformed_data' and 'designation' columns.
    user_input (str): Comma-separated string of user skills.
    """
    # Clone only the transformed_data column
    cloned_df = concatenated_data[['transformed_data']].copy()

    # Add user input to the last row of transformed_data column
    cloned_df.loc[len(cloned_df)] = [user_input]

    # Convert the transformed_data column to list of lists
    sentences = [row.split(",") for row in cloned_df['transformed_data']]

    # Train Word2Vec model
    model = Word2Vec(sentences, vector_size=100, window=5, min_count=1, workers=4)

    # Get Word2Vec embeddings for user input
    user_input_vector = [model.wv[word] for word in user_input.split(",") if word in model.wv]
    user_input_vector = sum(user_input_vector) / len(user_input_vector)

    # Calculate cosine similarity of the user input vector with all other vectors
    cosine_similarities = []
    for vector in sentences[:-1]:
        cosine_similarities.append(cosine_similarity([user_input_vector], [model.wv[word] for word in vector if word in model.wv])[0][0])

    # Get indices of the top matches
    top_matches_indices = sorted(range(len(cosine_similarities)), key=lambda i: cosine_similarities[i], reverse=True)[:20]

    # Get designations of the top matches
    top_matches = concatenated_data.iloc[top_matches_indices][['designation']].reset_index(drop=False)

    # Count the unique designations
    unique_designations = top_matches['designation'].value_counts()

    # Print the top matches
    print("Top Matches:")
    print(top_matches)

    # Print the unique designations
    print("\nUnique Designations:")
    print(unique_designations)

# Example usage:
# find_top_matches(concatenated_data, "python,azure")

In [23]:
user_skill="html,css,javascript,react,nodejs"
find_top_matches(concatenated_data,user_skills)

NameError: name 'user_skills' is not defined

In [ ]:
model.build_vocab(concatenated_data['transformed_data'])

In [ ]:
model.train(concatenated_data['transformed_data'], total_examples=model.corpus_count, epochs=model.epochs)

In [ ]:
model.wv.most_similar('daenerys')